{% extends "layout.html" %}
{% block title %} - Admin{% endblock %}
{% block scripts %}
<script>
  function reset_channels(){
    $.post("/rackset/reset", function(data, status){
        console.log(data);
        $("span").html(data.nice_status);
    });
  };
  function load_config(){

    $.ajax({
    url: '/rackset/load/' +  prompt("Please enter the file to load", "config.yaml"),
    type: 'post',
    headers: {apikey: localStorage.getItem("piro_apikey")},
    dataType: 'json',
    success: function(data, status){
        console.log(data);
        $("span").html(data.nice_status);
      }
    });
  };
  function clear_config(){

    $.ajax({
    url: '/rackset/clear',
    type: 'post',
    headers: {apikey: localStorage.getItem("piro_apikey")},
    dataType: 'json',
    success: function(data, status){
        console.log(data);
        $("span").html(data.nice_status);
      }
    });
    };
  function load_authkey(){
    var apikey = prompt("Please enter your key");
    localStorage.setItem("piro_apikey", apikey);
  }
  function check_authkey(){
    var apikey = localStorage.getItem("piro_apikey");
    alert("Your API Key is set to: " + apikey);
    $.post("/check_key/" + apikey, function(data, status){
      if (data.status) {
        alert("Your API Key is valid");
      } else {
        alert("Your API Key is invalid");
      }
    });
  }
</script>
{% endblock %}
{% block content %}
<div class="container "><p> </p> </div>
<div class="container text-center row justify-content-center align-self-center">
  <button type="button" class="btn-lg btn-primary" onclick="reset_channels()">Reset Channels</button>
  <button type="button" class="btn-lg btn-primary" onclick="save_config()" disabled>Save Config</button>
  <button type="button" class="btn-lg btn-primary" onclick="load_config()">Load Config</button>
  <button type="button" class="btn-lg btn-primary" onclick="clear_config()">Clear Config</button>
  <button type="button" class="btn-lg btn-primary" onclick="load_authkey()">Load Key</button>
  <button type="button" class="btn-lg btn-primary" onclick="check_authkey()">Check Key</button>
</div>
{% endblock %}

<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Piro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
.bg-1 {
    background-color: #444444; /* Grey 4444444 */
    color: white;
}
.bg-2 {
    background-color: black; /* Black */
    color: #2ef74f;
    font-family: "Roboto Mono", Courier, monospace;
    border-style: solid;
    border-color: gray;
    border-width: medium;
}
.btn-xl {
padding: 50px 50px;
margin-top:200px;
font-size: 38px; 
line-height: normal;
-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
        border-radius: 8px;
}
</style>
</head>
<body class="bg-1">


<div class="container d-flex h-100">
  <h1>Piro</h1>
  <div class="container bg-2">Status: <span></span></div>

</div>


</body>
</html>  -->